@model Karakatsiya.Models.PageSettings.HomePageSettings

<form asp-action="Save" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Контакты:</label>
        <input asp-for="Address" class="form-control" />
        <input asp-for="Phone" class="form-control" />
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Фото 1:</label>
        <input type="file" name="Image1File" class="form-control" />
        @if (!string.IsNullOrEmpty(Model?.Image1))
        {
            <img src="@Model.Image1" width="200" class="mt-2" />
        }
    </div>

    <div class="mb-3">
        <label>Фото 2:</label>
        <input type="file" name="Image2File" class="form-control" />
        @if (!string.IsNullOrEmpty(Model?.Image2))
        {
            <img src="@Model.Image2" width="200" class="mt-2" />
        }
    </div>

    <div class="mb-3">
        <label>Фото 3:</label>
        <input type="file" name="Image3File" class="form-control" />
        @if (!string.IsNullOrEmpty(Model?.Image3))
        {
            <img src="@Model.Image3" width="200" class="mt-2" />
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
</form>