@using Karakatsiya.Models.DTOs
@inject Karakatsiya.Localizations.SharedLocalizationService localization
@model LoginDto

<div class="auth-page__wrapper login-page">
    <div class="auth-page__inner-container">
        <form asp-action="Login" method="post" class="auth-page__form">
            <h2 class="auth-page__title">@localization.Generals["LoginPage.Title"]</h2>

            <div class="auth-page__form-group">
                <label asp-for="Email" class="auth-page__form-label">@localization.Generals["LoginPage.Email"]</label>
                <input asp-for="Email" class="auth-page__form-input" type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="auth-page__form-group">
                <label asp-for="Password" class="auth-page__form-label">@localization.Generals["LoginPage.Password"]</label>
                <input asp-for="Password" class="auth-page__form-input" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="auth-page__form-group">
                <button type="submit" class="auth-page__submit-button auth-page__submit-button--login">
                    @localization.Generals["LoginPage.Button.SignIn"]
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}