@inject Karakatsiya.Localizations.SharedLocalizationService localizer

<div class="auth-page__wrapper register-page">
    <div class="auth-page__inner-container">
        <form asp-action="Register" method="post" class="auth-page__form">
            <h2 class="auth-page__title">@localizer.Generals["RegistrationPage.Title"]</h2>

            <div class="auth-page__form-group">
                <label for="Email" class="auth-page__form-label">@localizer.Generals["RegistrationPage.Email"]</label>
                <input type="email" name="Email" required class="auth-page__form-input" />
            </div>

            <div class="auth-page__form-group">
                <label for="Password" class="auth-page__form-label">@localizer.Generals["RegistrationPage.Password"]</label>
                <input type="password" name="Password" required class="auth-page__form-input" />
            </div>

            <div class="auth-page__form-group">
                <button type="submit" class="auth-page__submit-button">@localizer.Generals["RegistrationPage.Button.Register"]</button>
            </div>
        </form>
    </div>
</div>