/* Стили для страницы регистрации */
.register-page__title {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для формы регистрации */
.register-page__form {
    /*position: relative;*/
    min-width: 100vh;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Стили для групп элементов формы */
.register-page__form-group {
    margin-bottom: 15px;
}

/* Стили для меток (label) */
.register-page__form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Стили для полей ввода */
.register-page__form-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Стили для кнопки отправки */
.register-page__submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-page__submit-button:hover {
    background-color: #45a049;
}