@model IEnumerable<Karakatsiya.Models.Entities.Category>
@inject Karakatsiya.Localizations.SharedLocalizationService localizer
@inject Karakatsiya.Services.CategoryLocalizationService categoryLocalizationService

@{
    ViewData["Title"] = localizer.Categories["AllCategories"];
    var localizedCategories = await categoryLocalizationService.GetLocalizedCategoriesAsync();
}

<h2>@ViewData["Title"]</h2>

<ul class="list-group">
    @foreach (var category in Model)
    {
        var localizedCategoryName = localizedCategories.ContainsKey(category.Id)
        ? localizedCategories[category.Id]
        : category.Name;

        <li>
            <a asp-controller="Item" asp-action="ByCategory" asp-route-categoryId="@category.Id">
                @localizedCategoryName
            </a>
        </li>
    }
</ul>