@model Dictionary<string, decimal>
@inject Karakatsiya.Localizations.SharedLocalizationService _localizer

<div class="currency-component">
    <p class="currency-component__label">
        @_localizer.Currencies["ExchangeRates"]
    </p>
    <ul>
        @foreach (var rate in Model)
        {
            <li>@rate.Key: @rate.Value</li>
        }
    </ul>
</div>