:root {
    /*Main*/
    --background-color-light: white;
    --background-color-dark: black;
    --text-color-light: black;
    --text-color-dark: #a3a0a0;
    /*HeaderAndFooter*/
    --panel-background-light: #1E3A8A;
    --panel-background-dark: #252525;
    /*Sidebar*/
    --panel-sidebar-background-light: #b8dafb;
    --panel-sidebar-background-dark: #232e6d;
    --button-background-light: #007bff;
    --text-color-sidebar-light: black;
    --button-background-dark: #0056b3;
    /*Logo*/
    --logo-color-light: black;
    --logo-color-dark: #a3a0a0;
    --logo-hover-color: #ff7f50;
}

.dark-theme {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
    --panel-background-light: var(--panel-background-dark);
    --button-background-light: var(--button-background-dark);
    --logo-color-light: var(--logo-color-dark);
    /*test*/
    --panel-sidebar-background-light: var(--panel-sidebar-background-dark);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

