:root {
    /*Main*/
    --background-color-light: white;
    --background-color-dark: black;
    --text-color-light: black;
    --text-color-dark: #a3a0a0;
    /*Panel*/
    --panel-background-light: #e6e3e3;
    --panel-background-dark: #252525;
    --button-background-light: #007bff;
    --button-background-dark: #0056b3;
    /*Logo*/
    --logo-color-light: black;
    --logo-color-dark: #a3a0a0;
    --logo-hover-color: #ff7f50;
}

.dark-theme {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
    --panel-background-light: var(--panel-background-dark);
    --button-background-light: var(--button-background-dark);
    --logo-color-light: var(--logo-color-dark);
}

html {
    font-size: 14px;
    /*position: relative;*/
    min-height: 90%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

