.currency-container {
    margin-left: 50px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.currency-component {
    background-color: var(--navbar-background-light);
    color: var(--text-color-light);
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.dark-theme .currency-component {}

.currency-component__label {
    font-weight: bold;
    margin: 12px;
}

.currency-component ul {
    list-style-type: none;
    padding: 0;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
