.left-menu {
    width: 260px;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navbar-background-light);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.dark-theme .left-main {}

.left-menu__nav {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-menu__item {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.left-menu__link {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.left-menu__link:hover {
    color: var(--logo-hover-color);
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}