.light-theme {
    --logo-color: #000;
    --logo-hover-color: #ff7f50;
    --logo-filter: none;
}

.dark-theme {
    --logo-color: #fff;
    --logo-hover-color: #ff7f50;
    --logo-filter: blur(1px);
}

@keyframes colorChange {
    0% { color: var(--logo-color); }
    50% { color: var(--logo-hover-color); }
    100% { color: var(--logo-color); }
}

.navbar-brand .letter {
    animation: colorChange 20s infinite ease-in-out;
}

.navbar-brand .letter:nth-child(odd) {
    animation-delay: 10s;
}

@keyframes tentacles {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
}

.navbar-brand {
    transition: filter 1s ease-in-out;
}

.navbar-brand:hover {
    display: inline-block;
    animation: tentacles 2s infinite alternate ease-in-out;
    filter: var(--logo-filter);
}

.custom-navbar__logo {
    flex-shrink: 0;
    padding-left: 50px;
    font-size: 26px;
}

.custom-navbar__greeting {
    flex-grow: 1;
    text-align: center;
}

.custom-navbar__theme-toggle {
    flex-shrink: 0;
    margin-right: 15px;
}