.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.custom-title {
    text-align: center;
}

.custom-news-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.custom-news-card {
    display: flex;
    justify-content: center;
    width: 400px;
    border: solid 1px #ccc;
}

.custom-no-news {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-text {
    max-width: 90%;
    white-space: normal;
    word-break: break-word;
}

.custom-main-page-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-main-page-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
