.main-menu-panel {
    width: 260px;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main-menu-panel__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.main-menu-panel__nav {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu-panel__item {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.main-menu-panel__link {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.main-menu-panel__link:hover {
    color: #ff7f50;
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}