html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.image-thumb {
    cursor: pointer;
}

.image-thumb:hover {
    border: 2px solid blue;
}

/*MainMenuPanel*/
.main-menu-panel {
    width: 200px;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main-menu-panel__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main-menu-panel__nav {
    flex-grow: 1;
}

.main-menu-panel__item {
    margin-bottom: 0.5rem;
}

.main-menu-panel__link {
    color: #000;
    text-decoration: none;
}

.main-menu-panel__link:hover {
    text-decoration: underline;
}

.language-selector {
    margin-top: 1rem;
}

.auth-block {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 150px;
    border-top: 1px solid #dee2e6;
}

.container-fluid {
    margin-left: 200px;
    padding: 1rem;
}

/* Стили для формы */
.create-item-form__container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #6699ff;
}

/* Группы элементов формы */
.create-item-form__group {
    margin-bottom: 20px;
}

/* Метки формы */
.create-item-form__label {
    font-weight: bold;
}

/* Ввод текста */
.create-item-form__input,
.create-item-form__textarea,
.create-item-form__select {
    width: 100%;
}

/* Кнопки */
.create-item-form__button,
.create-item-form__submit {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*GreetingText*/
.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}