/*componrnts*/
@import url("components/base.css");
@import url("components/currency.css");
@import url("components/language.css");
@import url("components/main-page.css");
@import url("components/news-details.css");
@import url("components/modal-window.css");
/*new*/
@import url("main-page/block-header.css");
@import url("main-page/block-main.css");
@import url("main-page/block-sidebar.css");
@import url("main-page/block-content.css");
@import url("main-page/block-footer.css");
/*pages*/
@import url("create-page/create.css");
@import url("sale-page/sale.css");

/* Дополнительные стили для кнопки */
/*
#themeToggle {
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}
    */


.image-thumb {
    cursor: pointer;
}

.image-thumb:hover {
    border: 2px solid blue;
}

.auth-block {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 150px;
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-block__title {
    margin-left: 0px;
}

/*
.modal-backdrop {
    display: none !important;
}
*/

.item-photo {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
}

